<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="${page.metaDescription}"/>
    <meta name="keywords" content="${page.metaKeywords}" />
    <meta name="author" content="" />
    <link rel="icon" href="/favicon.ico" />

    <title th:text="${page.title}">Some Title</title>
    <object th:replace="fragments/courses-head :: head" th:remove="tag" />
	<object th:replace="fragments/courses-uniquehead :: head" th:remove="tag" />
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div id="page" class="hfeed site">
    <div th:replace="fragments/courses-masthead" th:remove="tag" ></div>

    <header class="content-header">
	<div class="container">
		<h1 class="page-title" th:text="${page.contentHeader}">Main Heading</h1>
	</div>
	</header>
	
	<a id="pagetop"></a>

	<div class="container">
    <div th:replace="fragments/course-default-body :: body" th:remove="tag" ></div>
	</div>
	<div class="container">
		<nav role="navigation" id="subpage-navigation" class="page-navigation">
			<h1 class="screen-reader-text sr-only">Page navigation</h1>
			<ul class="pager" >
				<li class="nav-up"><a href="/ogbrown-courses/" >
					<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
					 All Courses</a>
			 	</li>
			</ul>
		</nav>
	</div>
	<!-- .container -->
    <div th:replace="fragments/courses-footer :: foot" th:remove="tag" ></div>
    </div><!-- #page -->
    <div th:replace="fragments/courses-footerjs :: foot" th:remove="tag" ></div>

  </body>
</html>
