<div th:fragment="body" th:remove="tag">
	<div class="row mytopofpage text-center">
	<h1 th:text="${'CRN: ' + course.currentCourseOffering.courseNumber + ': ' + course.title}">CRN 70661 - Wednesdays</h1>
	<h2 th:if="${course.currentCourseOffering.location == 'CYC'}">Collin College Court Yard Campus <span th:text="${'Room ' + course.currentCourseOffering.room}">Room 302</span></h2>
	<h3 th:text="${'Number of Sessions: (' + course.currentCourseOffering.sessionCount + '): 90% Attendance= ' + course.currentCourseOffering.sessionCount + ' Sessions'}">Eight (8) Sessions: 90% = 8 Sessions</h3>
	<ul>
		<li class="center-block col-md-12" th:each="classDate : ${course.currentSchedule}" >
		    <h4 th:if="${classDate != null}" th:text="${#calendars.format(classDate,'EEEE : MMMM dd, yyyy; ') 
		             + #calendars.format(course.currentCourseOffering.startTime,'h:mm aa–')
		             + #calendars.format(course.currentCourseOffering.endTime,'h:mm aa')}">Wednesday	Oct 25, 2017; 6:30 PM – 9:30 PM</h4>
		    <h4 th:if="${classDate == null}">Break</h4>
		</li>
	</ul>
	</div>
</div>
