<header id="masthead" class="site-header" role="banner">

	<div id="site-branding" class="site-branding">

		<div class="container">
			<div class="site-branding-text">
				<h1 class="site-title">
					<a href="https://www.ogbrown.com/java/demo-ogbrown-courses/" rel="home" target="_blank" >O.G. Brown
						Courses Live Demo - Monolithic</a>
				</h1>
				<h2 class="site-description">Another Java/Spring/Thymeleaf Web App Demo - Monolithic</h2>
			</div>
		</div>
	</div>
	<!-- .site-branding -->




	<nav id="site-navigation" class="main-navigation" role="navigation">

		<h1 class="menu-toggle sr-only screen-reader-text">Primary Menu</h1>
		<div class="skip-link">
			<a class="screen-reader-text sr-only" href="#content">Skip to
				content</a>
		</div>

		<div class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span
							class="icon-bar"></span>
					</button>
				</div>
				<!-- navbar-header -->
				<div class="navbar-collapse collapse">
					<ul id="menu-main" class="nav navbar-nav">
						<li id="menu-item-4836"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-4836"><a
							title="Java Web Application Development | OGBrown.com Courses" th:href="@{'/'}">Home</a></li>
						<li id="menu-item-1"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-91 dropdown"><a
							title="Courses" href="#" data-target="#" data-toggle="dropdown"
							class="dropdown-toggle">Courses <span class="caret"></span></a>
							<ul role="menu" class=" dropdown-menu">
								<li id="menu-item-92"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a
									title="All Courses" th:href="@{'/'}">All
										Courses</a></li>
							    <li th:each="course : ${courses}" th:id="${'menu-item-' + course.urlSlug}"
							        class="menu-item menu-item-type-post_type menu-item-object-page"><a
									th:title="${course.title}"
									th:href="@{'/course/' + ${course.urlSlug} + '/'}" th:text="${course.title}"><span th:class="${'menu-item-' + course.urlSlug}">Course Title</span></a>
								</li>
							</ul></li>
					    <li th:each="menuitem : ${topmenu}" th:id="${'menu-item-' + menuitem.urlSlug}"
					        class="menu-item menu-item-type-post_type menu-item-object-page"><a
							th:title="${menuitem.title}"
							th:href="@{'/' + ${menuitem.urlSlug} + '/'}" th:text="${menuitem.title}"><span th:class="${'menu-item-' + course.urlSlug}">Menu Item Title</span></a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://github.com/ogbrown/ogbrown-courses/" target="_blank" ><span class="menu-item-github">GitHub Project</span></a></li>
					</ul>
				</div>
			</div>
			<!-- .container -->
		</div>
		<!-- .navbar -->
	</nav>
	<!-- #site-navigation -->

</header>
<!-- #masthead -->
