<div th:fragment="foot" th:remove="tag">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="thymeleaf-missing.js" th:src="@{/static/jquery/jquery.min.js}"></script>	
	<script src="thymeleaf-missing.js" th:src="@{/static/typeaheadjs/typeahead.jquery.min.js}"></script>
	<script src="thymeleaf-missing.js" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    <script>window.twttr = (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0],
	    t = window.twttr || {};
	  if (d.getElementById(id)) return t;
	  js = d.createElement(s);
	  js.id = id;
	  js.src = "https://platform.twitter.com/widgets.js";
	  fjs.parentNode.insertBefore(js, fjs);
	
	  t._e = [];
	  t.ready = function(f) {
	    t._e.push(f);
	  };
	
	  return t;
	}(document, "script", "twitter-wjs"));</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!--[if eq IE 10]>
      <script src='https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js' type="text/javascript" />
    <![endif]-->

</div>